@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

 /**
 * Font
 */
$brand__font: 'Raleway', sans-serif;
 
 /**
 * Colors
 */

 $brand__primary: #F0F8FF;
 $brand__secondary: #F0F0F0;

 $ui__primary: #ADD8E6;
 $ui__primary--dark: #4682B4;
 $ui__secondary: #CCC;
 $ui__secondary--dark: #DDD;

 $font__c: #666;
 $font__c--light: #999;
 $font__c--dark: #333;